# https://editorconfig.org/

root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,jsonc,yml,yaml,sh,puml,md}]
indent_size = 2

[*.cs]
indent_size = 4

[*.{asset,meta,unity,scenetemplate}]
trim_trailing_whitespace = unset
insert_final_newline = unset

[*.sln]
indent_style = tab

[*.{pbxproj,plist,entitlements,xcsettings}]
indent_style = tab
